@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
  --Light-red: hsl(0, 100%, 67%);
  --Light-red-background: hsla(0, 100%, 67%, 0.1);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Orangey-yellow-background: hsla(39, 100%, 56%, 0.1);
  --Green-teal: hsl(166, 100%, 37%);
  --Green-teal-background: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Cobalt-blue-background: hsla(234, 85%, 45%, 0.1);
}

/* - Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

#container button {
  margin: 0 auto;
  display: block;
  border-radius: 40px;
  border: none;
  text-align: center;
  width: 20rem;
  height: 3.5rem;
  background: var(--Dark-gray-blue);
  font-size: 1.2rem;
  color: var(--Pale-blue);
  cursor: pointer;
}

#overall {
  width: 100vw;
  height: 360px;
  background: linear-gradient(
    var(--Light-slate-blue-background) 0%,
    var(--Light-royal-blue-background) 100%
  );
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--Pale-blue);
}

#overall p {
  color: var(--Light-lavender);
}

#score {
  background: linear-gradient(
    var(--Violet-blue-circle) 0%,
    var(--Persian-blue-circle) 100%
  );
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#result {
  font-size: 3rem;
  font-weight: 800;
}

#summary {
  margin: 2rem;
}

#summary h2 {
  color: var(--Dark-gray-blue);
  font-size: 1.3rem;
}

ul {
  margin-top: 1.5rem;
}

li {
  display: flex;
  justify-content: left;
}

li span:last-child {
  color: hsla(224, 30%, 27%, 0.5);
}

#reaction {
  color: var(--Light-red);
  background: var(--Light-red-background);
  border-radius: 10px;
  padding: 0.8rem;
}

#summary p {
  flex: 1;
  margin-left: 1rem;
}

#memory {
  color: var(--Orangey-yellow);
  background: var(--Orangey-yellow-background);
  border-radius: 10px;
  padding: 0.8rem;
  margin-top: 1rem;
}

#verbal {
  color: var(--Green-teal);
  background: var(--Green-teal-background);
  border-radius: 10px;
  padding: 0.8rem;
  margin-top: 1rem;
}

#visual {
  color: var(--Cobalt-blue);
  background: var(--Cobalt-blue-background);
  border-radius: 10px;
  padding: 0.8rem;
  margin-top: 1rem;
}
